.edit-container{
    position: absolute;
    width: 210px;
    height: 250px;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 80%;
}

.input-title-style{
    margin-left: 3px;
    margin-top: 5px;
    height: 21%;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    background:none;
    border: none;
    resize: none;
    max-lines: 1;
    outline-style: none;
}

.input-description-style{
    margin-left: 3px;
    height: 68%;
    font-size: 14px;
    width: 95%;
    background:none;
    border: none;
    resize: none;
    outline-style: none;
}

.edit-container:hover{
    opacity: 100%;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }