.editform-container{
  display: grid;
  grid-template-columns: [main] 150px [box1] 30px [box2] 30px [main-end];
  grid-template-rows: [main] 30px [boxes] 250px [main-end];
  width: 210px;
  height: 280px;
}

.check-item{
  grid-column-start: box1;
  grid-column-end: box2;
  height: 28px;
  width: 28px;
  animation: checksout 0.2s;
  background-color: #ffffff;
  opacity: 80%;
  border-radius: 6px;
}

.check-span{
  margin-left: 6px;
  font-size:18px;
  color: #888;
  opacity: 80%;
  vertical-align: middle;
}

.close-item{
  animation: checksout 0.2s;
  grid-column-start: box2;
  grid-column-end: main-end;
  height: 28px;
  width: 28px;
  animation: checksout 0.2s;
  background-color: #ffffff;
  opacity: 80%;
  border-radius: 6px;
}

.close-span{
  margin-left: 6px;
  font-size:18px;
  color: #888;
  opacity: 80%;
  vertical-align: middle;
}

.check-item:hover{
  animation: checksin 0.2s;
  border-radius: 3px;
  opacity: 100%;
  cursor: pointer;
}

.close-item:hover{
  animation: checksin 0.2s;
  border-radius: 3px;
  opacity: 100%;
  cursor: pointer;
}

.close-item:hover .close-span{
  opacity: 100%;
  font-weight: bold;
  color: #000;
}

.check-item:hover .check-span{
  opacity: 100%;
  font-weight: bold;
  color: #000;
}

@keyframes checksin{
  0% {
      border-radius: 6px;
      opacity: 80%;
  }
  100% {
      border-radius: 3px;
      opacity: 100%;
  }
}

@keyframes checksout{
  0% {
    border-radius: 3px;
    opacity: 100%;
  }
  100% {
    border-radius: 6px;
    opacity: 80%;
  }
}

.edit-container{
    grid-row-start: boxes;
    grid-row-end: main-end;
    width: 210px;
    height: 250px;
    border-radius: 6px;
    animation: checksout 0.2s;
    background-color: #ffffff;
    opacity: 80%;
}

.input-title-style{
    margin-left: 3px;
    margin-top: 5px;
    height: 21%;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    background:none;
    border: none;
    resize: none;
    max-lines: 1;
    outline-style: none;
}

.input-description-style{
    margin-left: 3px;
    height: 70%;
    font-size: 14px;
    width: 95%;
    background:none;
    border: none;
    resize: none;
    outline-style: none;
}

.edit-container:hover{
  animation: checksin 0.2s;
  border-radius: 3px;
    opacity: 100%;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }